.pds-modal {
	display: none;
	position: fixed;
	padding-top: 20%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--overlay-color);
	z-index: 99;
	font-family: var(--sans-font);
}

.pds-modal__content {
	position: relative;
	padding: 2rem 2.5rem;
	margin: auto;
	width: 60%;
	max-width: 920px;
	box-shadow: var(--hard-1-elev);

	.pds-close-btn {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}

.pds-modal__content--white {
	background-color: var(--white-color);
	color: var(--black-color);
}

.pds-modal__content--black {
	background-color: var(--black-color);
	color: var(--white-color);
}
