:root {
	--primary-color: #ffdc28;
	--accent-1-color: #3017a1;
	--accent-2-color: #de256f;
	--grey-70-color: #b2c1cb;
	--grey-90-color: #f1f1f1;
	--focus-color: #127cbb;
	--focus-light-color: #37cbff;
}
