@font-face {
  font-family: Adelle;
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/adelle/360074_0_0.woff2) format("woff2"), url(../fonts/adelle/360074_0_0.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Tablet Gothic Condensed";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/tablet_gothic_condensed/360074_5_0.woff2) format("woff2"), url(../fonts/tablet_gothic_condensed/360074_5_0.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Tablet Gothic";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/tablet_gothic/360074_3_0.woff2) format("woff2"), url(../fonts/tablet_gothic/360074_3_0.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Tablet Gothic";
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/tablet_gothic/360074_2_0.woff2) format("woff2"), url(../fonts/tablet_gothic/360074_2_0.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Tablet Gothic";
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/tablet_gothic/360074_4_0.woff2) format("woff2"), url(../fonts/tablet_gothic/360074_4_0.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Tablet Gothic";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/tablet_gothic/360074_1_0.woff2) format("woff2"), url(../fonts/tablet_gothic/360074_1_0.woff) format("woff");
  font-display: swap;
}
:root {
  --primary-color: #ffdc28;
  --accent-1-color: #3017a1;
  --accent-2-color: #de256f;
  --grey-70-color: #b2c1cb;
  --grey-90-color: #f1f1f1;
  --focus-color: #00749c;
  --focus-light-color: #37cbff;
}

.pds-mar-all-xs {
  margin: 16px !important;
}

.pds-pad-all-xs {
  padding: 16px !important;
}

.pds-mar-tb-xs {
  margin-bottom: 16px !important;
  margin-top: 16px !important;
}

.pds-mar-lr-xs {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.pds-pad-tb-xs {
  padding-bottom: 16px !important;
  padding-top: 16px !important;
}

.pds-pad-lr-xs {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.pds-mar-all-s {
  margin: 24px !important;
}

.pds-pad-all-s {
  padding: 24px !important;
}

.pds-mar-tb-s {
  margin-bottom: 24px !important;
  margin-top: 24px !important;
}

.pds-mar-lr-s {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.pds-pad-tb-s {
  padding-bottom: 24px !important;
  padding-top: 24px !important;
}

.pds-pad-lr-s {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.pds-mar-all-m {
  margin: 32px !important;
}

.pds-pad-all-m {
  padding: 32px !important;
}

.pds-mar-tb-m {
  margin-bottom: 32px !important;
  margin-top: 32px !important;
}

.pds-mar-lr-m {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.pds-pad-tb-m {
  padding-bottom: 32px !important;
  padding-top: 32px !important;
}

.pds-pad-lr-m {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.pds-mar-all-l {
  margin: 40px !important;
}

.pds-pad-all-l {
  padding: 40px !important;
}

.pds-mar-tb-l {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
}

.pds-mar-lr-l {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.pds-pad-tb-l {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

.pds-pad-lr-l {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.pds-mar-all-xl {
  margin: 48px !important;
}

.pds-pad-all-xl {
  padding: 48px !important;
}

.pds-mar-tb-xl {
  margin-bottom: 48px !important;
  margin-top: 48px !important;
}

.pds-mar-lr-xl {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.pds-pad-tb-xl {
  padding-bottom: 48px !important;
  padding-top: 48px !important;
}

.pds-pad-lr-xl {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.pds-mar-all-2xl {
  margin: 60px !important;
}

.pds-pad-all-2xl {
  padding: 60px !important;
}

.pds-mar-tb-2xl {
  margin-bottom: 60px !important;
  margin-top: 60px !important;
}

.pds-mar-lr-2xl {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.pds-pad-tb-2xl {
  padding-bottom: 60px !important;
  padding-top: 60px !important;
}

.pds-pad-lr-2xl {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.pds-mar-all-3xl {
  margin: 64px !important;
}

.pds-pad-all-3xl {
  padding: 64px !important;
}

.pds-mar-tb-3xl {
  margin-bottom: 64px !important;
  margin-top: 64px !important;
}

.pds-mar-lr-3xl {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.pds-pad-tb-3xl {
  padding-bottom: 64px !important;
  padding-top: 64px !important;
}

.pds-pad-lr-3xl {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.pds-mar-top-xs {
  margin-top: 16px !important;
}

.pds-pad-top-xs {
  padding-top: 16px !important;
}

.pds-mar-top-s {
  margin-top: 24px !important;
}

.pds-pad-top-s {
  padding-top: 24px !important;
}

.pds-mar-top-m {
  margin-top: 32px !important;
}

.pds-pad-top-m {
  padding-top: 32px !important;
}

.pds-mar-top-l {
  margin-top: 40px !important;
}

.pds-pad-top-l {
  padding-top: 40px !important;
}

.pds-mar-top-xl {
  margin-top: 48px !important;
}

.pds-pad-top-xl {
  padding-top: 48px !important;
}

.pds-mar-top-2xl {
  margin-top: 60px !important;
}

.pds-pad-top-2xl {
  padding-top: 60px !important;
}

.pds-mar-top-3xl {
  margin-top: 64px !important;
}

.pds-pad-top-3xl {
  padding-top: 64px !important;
}

.pds-mar-right-xs {
  margin-right: 16px !important;
}

.pds-pad-right-xs {
  padding-right: 16px !important;
}

.pds-mar-right-s {
  margin-right: 24px !important;
}

.pds-pad-right-s {
  padding-right: 24px !important;
}

.pds-mar-right-m {
  margin-right: 32px !important;
}

.pds-pad-right-m {
  padding-right: 32px !important;
}

.pds-mar-right-l {
  margin-right: 40px !important;
}

.pds-pad-right-l {
  padding-right: 40px !important;
}

.pds-mar-right-xl {
  margin-right: 48px !important;
}

.pds-pad-right-xl {
  padding-right: 48px !important;
}

.pds-mar-right-2xl {
  margin-right: 60px !important;
}

.pds-pad-right-2xl {
  padding-right: 60px !important;
}

.pds-mar-right-3xl {
  margin-right: 64px !important;
}

.pds-pad-right-3xl {
  padding-right: 64px !important;
}

.pds-mar-bottom-xs {
  margin-bottom: 16px !important;
}

.pds-pad-bottom-xs {
  padding-bottom: 16px !important;
}

.pds-mar-bottom-s {
  margin-bottom: 24px !important;
}

.pds-pad-bottom-s {
  padding-bottom: 24px !important;
}

.pds-mar-bottom-m {
  margin-bottom: 32px !important;
}

.pds-pad-bottom-m {
  padding-bottom: 32px !important;
}

.pds-mar-bottom-l {
  margin-bottom: 40px !important;
}

.pds-pad-bottom-l {
  padding-bottom: 40px !important;
}

.pds-mar-bottom-xl {
  margin-bottom: 48px !important;
}

.pds-pad-bottom-xl {
  padding-bottom: 48px !important;
}

.pds-mar-bottom-2xl {
  margin-bottom: 60px !important;
}

.pds-pad-bottom-2xl {
  padding-bottom: 60px !important;
}

.pds-mar-bottom-3xl {
  margin-bottom: 64px !important;
}

.pds-pad-bottom-3xl {
  padding-bottom: 64px !important;
}

.pds-mar-left-xs {
  margin-left: 16px !important;
}

.pds-pad-left-xs {
  padding-left: 16px !important;
}

.pds-mar-left-s {
  margin-left: 24px !important;
}

.pds-pad-left-s {
  padding-left: 24px !important;
}

.pds-mar-left-m {
  margin-left: 32px !important;
}

.pds-pad-left-m {
  padding-left: 32px !important;
}

.pds-mar-left-l {
  margin-left: 40px !important;
}

.pds-pad-left-l {
  padding-left: 40px !important;
}

.pds-mar-left-xl {
  margin-left: 48px !important;
}

.pds-pad-left-xl {
  padding-left: 48px !important;
}

.pds-mar-left-2xl {
  margin-left: 60px !important;
}

.pds-pad-left-2xl {
  padding-left: 60px !important;
}

.pds-mar-left-3xl {
  margin-left: 64px !important;
}

.pds-pad-left-3xl {
  padding-left: 64px !important;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
}

.btn {
  font-family: "Tablet Gothic", sans-serif;
  font-weight: 700;
  line-height: 1;
  border-radius: 0px;
  border: 3px solid;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}

.btn:hover {
  background-color: var(--accent-1-color);
  border-color: var(--accent-1-color);
  color: white;
}

.btn:focus {
  outline: 3px solid var(--focus-color);
  outline-offset: 2px;
}

/* Button types */
.btn--primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: black;
}

.btn--secondary {
  background-color: white;
  border-color: black;
  color: black;
}

.btn--tertiary {
  background-color: black;
  border-color: black;
  color: white;
}

.btn--ghost-purple {
  background-color: white;
  border-color: var(--accent-1-color);
  color: var(--accent-1-color);
}

.btn--ghost-white {
  background-color: black;
  border-color: white;
  color: white;
}
.btn--ghost-white:focus {
  outline-color: var(--focus-light-color);
}

/* Disabled button */
.btn[disabled] {
  background-color: var(--grey-70-color);
  border-color: var(--grey-70-color);
  color: white;
}

/* Button sizes */
.btn--lg {
  padding: 18px 40px 16px;
  font-size: 20px;
}

.btn--md {
  padding: 15px 32px 13px;
  font-size: 18px;
}

.btn--sm {
  padding: 12px 28px 10px;
  font-size: 16px;
}

.close-btn {
  background-color: transparent;
  border: none;
  padding-top: 4px;
}

.close-btn:focus {
  outline: 2px solid;
}

.close-btn[disabled] {
  color: var(--grey-70-color);
}

.close-btn--black {
  color: black;
}
.close-btn--black:hover {
  color: var(--accent-1-color);
}
.close-btn--black:focus {
  outline-color: var(--accent-1-color);
  color: var(--accent-1-color);
}

.close-btn--white {
  color: white;
}
.close-btn--white:hover {
  color: var(--primary-color);
}
.close-btn--white:focus {
  outline-color: var(--primary-color);
  color: var(--primary-color);
}

.modal {
  display: none;
  position: fixed;
  padding-top: 20%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal__content {
  position: relative;
  padding: 2rem 2.5rem;
  margin: auto;
  width: 70%;
  max-width: 928px;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 8px 0px;
}
.modal__content .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal__content--white {
  background-color: white;
  color: black;
}

.modal__content--black {
  background-color: black;
  color: white;
}

.modal__heading {
  font-family: "Tablet Gothic", sans-serif;
  margin-top: 0;
}

.quote,
.quote--white {
  background-color: white;
  color: black;
}

.quote--light-grey {
  background-color: var(--grey-90-color);
  color: black;
}

.quote--black {
  background-color: black;
  color: white;
}

.quote__inner {
  display: flex;
  align-items: flex-start;
  padding: 60px;
}

.quote__bolt {
  fill: var(--primary-color);
  width: 48px;
  height: 28px;
}

.quote__bolt--right {
  transform: rotateY(180deg);
}

.quote__text {
  font-family: Adelle, serif;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  margin: 0px 0px 40px;
}

.quote__attribution {
  font-family: "Tablet Gothic", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}